header {
    height: 116px;
    #header {
        width: 1200px;
        height: 36px;
        background: #ccc;
        margin: 0 auto;
        .header {
            height: 36px;
            background: red;
        }
    }
    .header_pic {
        height: 80px;
        background: #8131cc;
        text-align: center;
    }
}