// .lunbo {
//     width: 1200px;
//     height: 467px;
//     margin: 0 auto;
//     position: relative;
// }
#lunbo {
    height: 467px;
    position: relative;
    z-index: 1;
    width: 100%;
    >li {
        position: absolute;
        width: 100%;
        height: 467px;
        opacity: 0;
    }
    .lb_box {
        width: 1200px;
        height: 467px;
        margin: 0 auto;
        position: relative;
        >img {
            height: 467px;
            width: 1200px;
        }
        .lb_spic {
            float: right;
            margin-right: 0px;
            width: 265px;
            margin-top: -465px;
            position: relative;
            z-index: 1;
            a {
                width: 100%;
                height: 143px;
                display: block;
                margin-bottom: 9px;
                margin-top: 7px;
                text-align: center;
                background: rgba(255, 255, 255, 0.9);
            }
            img {}
        }
    }
}

.lunbo-index {
    position: absolute;
    z-index: 3;
    height: 24px;
    right: 35%;
    bottom: 15px;
    // background: red;
    span {
        display: block;
        background: #ffffff;
        float: left;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        line-height: 16px;
        text-align: center;
        margin-left: 10px;
        cursor: pointer;
    }
    .active {
        background-color: red;
    }
}