@charset "utf-8";
$sprit1:'../img/spirit_1.png'; //精灵图1
$sprit2:'../img/spirit_2.png'; //精灵图2
$sprit3:'../img/spirit_3.png'; //精灵图3
$sprit4:'../img/spirit_4.png'; //精灵图4
@mixin sprit2() {
    background-image: url(#{$sprit2});
    background-repeat: no-repeat;
}

// 页面右侧固定定位布局
.right_fix_tab {
    width: 40px;
    height: 100%;
    background: #6c6c6c;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    .fix_tab_top {
        // 右侧头部
        position: absolute;
        top: 40px;
        z-index: 100;
        background-color: red;
        .jui-ubar-tab-item {
            background-position: 8px 0;
            cursor: pointer;
            background-color: #6c6c6c;
        }
    }
    .fix_tab_middle {
        position: absolute;
        top: 50%;
        z-index: 100;
        margin-top: -150px;
        background-color: red;
    }
}

.jui-ubar-tab-logo {
    position: relative;
    z-index: 2;
    padding: 18px 8px;
    width: 24px;
    i {
        display: block;
        width: 24px;
        height: 24px;
    }
}

// $pos1:-144px 0px;
// $pos2:-48px 0px;
// $pos3:-192px 0px;
// $pos4:-176px 0px;
// $pos5:-32px 0px;
// $pos6:-128px 0px;
// $pos7:-80px 0px;
// $pos8:0 0;
// $pos9:-64px 0px;
// $pos10:-112px 0px;
// $pos11:-16px 0px;
// $pos12:-272px -16px;
// $sp_pos:$pos1 $pos2 $pos3 $pos4 $pos5 $pos6 $pos7 $pos8 $pos9 $pos10 $pos11 $pos12;
// @for $i from 1 to length($sp_pos)+1 {
//     .menu_nav_left .cate-bd dt .a#{$i} i {
//         background-position: nth($sp_pos, $i);
//     }
// }
// 楼梯效果
#louti {
    width: 32px;
    position: fixed;
    left: 110px;
    bottom: 26px;
    z-index: 100;
    div {
        display: block;
        width: 32px;
        height: 32px;
        text-align: center;
        border-bottom: dotted 1px #ccc;
        padding: 10px 0;
        span {
            line-height: 14px;
            height: 31px;
            color: #999;
            font-family: verdana;
            background: #f3f4f6;
            border-radius: 4px;
            font-weight: bold;
            display: block;
        }
        label {
            display: none;
            font-size: 12px;
            line-height: 14px;
            height: 28px;
            padding: 2px 0;
            color: #fff;
            cursor: pointer;
            border-radius: 4px;
        }
    }
    div.back_top {
        background-position: center center;
        background: url(http://i0.ulecdn.com/ule/www/hp/2014/0710/images/returntop2.png);
        margin-top: 10px;
        height: 40px;
        background-repeat: no-repeat;
        border-bottom: 0;
        margin-left: 4px;
        cursor: pointer;
    }
}

$color1:#ff7b30;
$color2:#1bb145;
$color3:#2289ff;
$color4:#000;
$color5:#ff2f91;
$color:$color1 $color2 $color3 $color4 $color5;
@for $i from 1 to length($color)+1 {
    // .menu_nav_left .cate-bd dt .a#{$i} i {
    //     background-position: nth($sp_pos, $i);
    // }
    .c-#{$i} {
        background: nth($color, $i);
    }
}