#search {
    height: 99px;
    .search {
        height: 80px;
        width: 1200px;
        padding: 12px 0 7px 0;
        margin: 0 auto;
    }
}

.head-logo {
    height: 75px;
    float: left;
    background: url(http://i0.ulecdn.com/ule/header/images/logo.png) no-repeat left bottom;
    a {
        width: 75px;
        text-indent: -10000px;
        overflow: hidden;
        display: block;
        float: left;
        height: 75px;
    }
}

.head-shopcart {
    background: url(http://i0.ulecdn.com/ule/header/images/header_1407.png) no-repeat;
    float: right;
    position: relative;
    margin-top: 10px;
    width: 158px;
    height: 34px;
    background-position: 0 -86px;
    border: 1px solid #bdbdbd;
    background-color: #fff;
    z-index: 500;
    .shopcart-sum {
        padding-left: 31px;
        line-height: 33px;
        cursor: pointer;
        .shopcart-num {
            right: 20px;
            top: 0;
            color: #900;
            text-align: center;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
            position: absolute;
            width: 58px;
            height: 30px;
            overflow: hidden;
        }
    }
}

.shopcart-list {
    display: none;
    top: 41px;
    right: -1px;
    position: absolute;
    width: 280px;
    padding: 0;
    // right: 0;
    // top: 24px;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    color: #666;
    z-index: 1;
    li.list-empty {
        text-align: center;
        padding: 8px;
        margin: 0;
        line-height: 16px;
        color: #333;
        border-bottom: 0;
        height: auto;
    }
}