header {
    height: 36px;
    background-color: #f7f7f7;
}

#header {
    width: 1200px;
    height: 36px;
    margin: 0 auto;
}

.header {
    height: 29px;
    // background: red;
    padding-top: 6px;
    position: relative;
    border-bottom: 1px solid #ededed;
}

.fl {
    height: 22px;
    float: left;
    .home {
        line-height: 22px;
        height: 27px;
        background: url(http://i0.ulecdn.com/ule/header/images/ico_return-home.png) no-repeat left center;
        padding-left: 20px;
    }
}

.fr {
    float: right;
    height: 22px;
    li {
        float: left;
        padding: 0 12px;
        line-height: 22px;
        height: 27px;
    }
}

.header li.bldr {
    background-position: -150px 5px;
}

.header {
    .welcome {
        padding-right: 0;
    }
    .ulephone {
        padding-left: 26px;
    }
    .licate {
        padding-left: 32px;
        position: relative;
    }
    .liphone {
        position: relative;
        padding-right: 0;
        width: 61px;
        z-index: 1;
    }
}

// .header .icon_list {}
.blue {
    color: #06c;
}

.header .icon_list,
.header .ico-phone,
.header .phone,
.header .txt-down {
    background: url(../img/spirit_6.png) no-repeat;
}

.header {
    .icon_list {
        width: 16px;
        height: 16px;
        background-position: -319px 0;
        display: block;
        position: absolute;
        left: 10px;
        top: 4px;
    }
    .ico-phone {
        width: 16px;
        height: 16px;
        display: block;
        position: absolute;
        left: 10px;
        top: 4px;
    }
    .phone {
        background-position: -260px -25px;
        display: block;
        width: 60px;
        height: 18px;
        margin-top: 3px;
        text-indent: -10000px;
        overflow: hidden;
    }
    .txt-down {
        background-position: right 2px;
        padding-right: 10px;
    }
}

.fr .dropdown {
    z-index: 2;
    width: 58px;
    position: relative;
    ul {
        display: none;
        height: auto;
        position: absolute;
        top: 22px;
        left: -1px;
        padding: 5px 0;
        border: solid 1px #d9d9d9;
        border-top: 0;
        background-color: #fff;
    }
    .uleapp {
        width: 180px;
        left: 50%;
        margin-left: -90px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        padding: 10px 0;
        li {
            width: 158px;
            height: 163px;
            margin: 0 auto;
        }
    }
}